@import url("https://cdn.jsdelivr.net/npm/galmuri/dist/galmuri.css");
/****/
/* variables */
/****/
@import url("https://cdn.jsdelivr.net/npm/galmuri/dist/galmuri.css");
#skill-folder-list {
  width: 80%;
  height: 3200px;
  border-top: 2px solid #cfcfcf;
  float: right;
  background-color: #fff;
  position: relative;
}
#skill-folder-list p {
  font-size: 70px;
  padding: 70px 130px;
  font-weight: 600;
  text-align: right;
}
#skill-folder-list .folder-text {
  width: 100%;
  height: 500px;
  margin-left: 85px;
  margin-top: 50px;
  font-size: 43px;
  font-family: "Galmuri11", sans-serif;
  font-weight: bold;
  color: #cfcfcf;
}
#skill-folder-list .folder-wrap {
  position: absolute;
  width: 92%;
  height: 73%;
  left: 4%;
  bottom: 260px;
}
#skill-folder-list .folder-wrap .folder {
  position: sticky;
  width: 100%;
  height: 450px;
}
#skill-folder-list .folder-wrap .folder .folder-skill {
  /*div*/
  /*h1*/
  width: 560px;
  height: 400px;
  position: absolute;
  left: 0;
  top: 0;
}
#skill-folder-list .folder-wrap .folder .folder-skill div {
  padding: 80px 20px;
  font-size: 20px;
  font-family: "Noto Sans KR", sans-serif;
}
#skill-folder-list .folder-wrap .folder .folder-skill h1 {
  padding-left: 20px;
  padding-top: 10px;
  font-size: 25px;
}
#skill-folder-list .folder-wrap .folder1 {
  bottom: 0;
  left: 0%;
}
#skill-folder-list .folder-wrap .folder1 .folder-content {
  width: 603px;
  height: 480px;
  position: absolute;
  left: 16%;
  bottom: 13%;
}
#skill-folder-list .folder-wrap .folder2 {
  bottom: 0px;
}
#skill-folder-list .folder-wrap .folder2 .folder-content {
  width: 603px;
  height: 480px;
  position: absolute;
  left: 52%;
  bottom: -4%;
}
#skill-folder-list .folder-wrap .folder3 {
  bottom: -40px;
}
#skill-folder-list .folder-wrap .folder3 .folder-content {
  width: 603px;
  height: 480px;
  position: absolute;
  left: 29%;
  bottom: -16%;
}
#skill-folder-list .folder-wrap .folder4 {
  bottom: -60px;
}
#skill-folder-list .folder-wrap .folder4 .folder-content {
  width: 603px;
  height: 480px;
  position: absolute;
  left: 5%;
  bottom: -30%;
}
#skill-folder-list .folder-wrap .folder5 {
  bottom: -200px;
}
#skill-folder-list .folder-wrap .folder5 .folder-content {
  width: 603px;
  height: 480px;
  position: absolute;
  left: 37%;
  bottom: -47%;
}
#skill-folder-list .folder-wrap .folder .folder-img {
  position: absolute;
  width: 100%;
}
#skill-folder-list .folder-wrap .folder .skillimg {
  width: 20%;
  margin-left: 79%;
}
#skill-folder-list .folder-wrap .folder .side-img {
  width: 50%;
  margin-left: 50%;
}
#skill-folder-list .folder-wrap .folder .img-margin-top {
  margin-top: 6%;
}