@charset "UTF-8";
@import "var";
// @import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100..900&family=Noto+Serif+KR&family=PT+Serif:ital,wght@0,400;0,700;1,400;1,700&display=swap');

@import url("https://cdn.jsdelivr.net/npm/galmuri/dist/galmuri.css");


#skill-folder-list {
    width: 80%;
    height: 3200px;
    border-top: 2px solid #cfcfcf;
    float: right;
    background-color: $white;
    position: relative;

    p {
        font-size: 70px;
        padding: 70px 130px;
        font-weight: 600;
        text-align: right;
    }

    .folder-text {
        width: 100%;
        height: 500px;
        margin-left: 85px;
        margin-top: 50px;
        font-size: 43px;
        font-family :$font-family;
        font-weight: bold;
        color: $light-gray;
    }

    .folder-wrap {
        position: absolute;
        width: 92%;
        height: 73%;
        left: 4%;
        bottom: 260px;


        .folder {
            position: sticky;

            width: 100%;
            height: 450px;



            .folder-skill {
                @include forder-skill-style;
                left: 0;
                top: 0;
            }
            
          

            &1 { 
                bottom: 0;
                left: 0%;

                .folder-content {
                    width: 603px;
                    height: 480px;
                    position: absolute;
                    left: 16%;
                    bottom: 13%;
                }
            }

            &2 {
                bottom: 0px;

                .folder-content {
                    width: 603px;
                    height: 480px;
                    position: absolute;
                    left: 52%;
                    bottom: -4%;
                }
            }

            &3 {
                bottom: -40px;

                .folder-content {
                    width: 603px;
                    height: 480px;
                    position: absolute;
                    left: 29%;
                    bottom: -16%;
                }
            }

            &4 {
                bottom: -60px;

                .folder-content {
                    width: 603px;
                    height: 480px;
                    position: absolute;
                    left: 5%;
                    bottom: -30%;
                }
            }

            &5 {bottom: -200px;
                .folder-content {
                    width: 603px;
                    height: 480px;
                    position: absolute;
                    left: 37%;
                    bottom: -47%;
                    
                }
            }

            .folder-img {
                @include folder-position;
                width: 100%;
            }
            .skillimg{
                width: 20%; margin-left: 79%;
            }
            .side-img{width: 50%; margin-left: 50%;}
            .img-margin-top{margin-top: 6%;}
        }
    }

}